body {
      background-image: url(../img/fundo\ 76.webp);
      background-attachment: fixed;
      background-color: darkslateblue;
      background-attachment: fixed;
      font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2 {
      color: rgb(235, 15, 15);
      text-align: center;
}

header {
      width: 100%;

}

.logo {
      color: bisque;
      text-align: center;
      font-size: 1.4em;
}

.nav {
      color: bisque;
      text-align: center;
      font-size: 1.4em;
}

.banner {
      width: 100%;
}

.containeir {
      background-color: aqua;
      width: 80%;
      margin: auto;
}

footer {

      color: blueviolet;
      font-size: 1.3em;
      text-align: center;
}

.fundo {
      text-align: center;
      font-size: 1.4em;
}

p {
      padding-top: 1%;
      padding-bottom: 0.5%;
      line-height: 1.7;
      font-size: 1.2em;
}

.listameio li {
      line-height: 2;
      font-size: 1.2em;
}

section {

      padding-left: 2%;
      padding-right: 2%;
}

.icone {
      width: 2%;
}

.imgdireita {
      float: right;
}

.imgtam {
      width: 30%;
      margin-left: 2%;
}

.linha {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
}

.col-6 {
      width: 25%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
      .linha {
            flex-direction: column;
      }

      .col-6 {
            width: 100%;
      }
}