body{
      background-color: darkslateblue;
}

h1{
     color: rgb(53, 42, 218);
    text-align: center;
}

header{
      width: 100%;
      background-color: firebrick;
}
.logo{
      color: bisque;
      text-align: center;
      font-size: 1.4em;
} 
.nav{
      color: bisque;
      text-align: center;
      font-size: 1.4em;
} 
.banner{
      width: 80%;
}
.containeir{
      background-color: aqua;
      width: 80%;
      margin: auto;
}
footer{
      background-color: blue;
      color: blueviolet;
      font-size: 1.3em;
      text-align: center;
}